*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}
 .page-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: #5a7dac;
     margin: 10px 10px;
     
 }
 .content{
     display: flex;
     flex-direction: column;
     position: absolute;
     bottom:1em;
 }
 /* top- header */
 .log-info{
     display: flex;
     align-items: center;
     justify-content:center;
     color: #fff;
     width: 100%;
 }
 .info{
     font-size: 19px;
     width: 200px;
 }.icon{
     background-color: whitesmoke; 
     border-radius: 50%;
     color:#93a9c6;
     padding: 5px;
    

     
 }

 .header{
     display: flex;
     justify-content:space-between ;
     width: 100%;
   align-items: center;
 }
 .nav{
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #1b1b1b;
border: 2px solid black;
border-radius: 8px;
width: 100%;



}
.menu{
    width: 100%;
    display: flex;
justify-content: center;
align-items: center;} 
    .menu li{
        padding: 20px;
    text-align: center;
        font-size: 1.5em;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
    }
    .menu li a{
      
        color: #fff;
    }
      
    .list{
        font-size:10px;
  
        display: none;
        transition: 3s;
        position: absolute;
        z-index: 10;
        
    }
    .list li{
        padding:5px;
        background-color: black;
      color: #fff ;
      z-index: 10;
    
    } 
      
    .drop:hover .list {
        display: block;
        transform: translateY(0);
       
       
    }
    .drop:hover .list {
        display: block;
        transform: translateY(0);
       
       
    } 
    .list li:hover{
        background-color:grey;
    } 
    .empty{
        background-color: #333333;
        width: 100%;
        height: 50vh;
        box-shadow: 2px 5px 5px black;
        border-bottom: 1px solid black;
    }
      
    .first-banner{
        margin: 10px 0;
    }
    .second-overall{
        margin-top: 24%;
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        width:90%;
        border-radius: 10px; }
        .second-banner{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 97%;
        }
        .section1{
            display: flex;
            display: grid;
            grid-template-columns: auto auto;
            margin: 10px;
            column-gap: 20px;
           
            
        }
        .img{
border:  none;
width: 200px;
height: 250px;
box-shadow: 3px 2px 4px rgb(194, 207, 208), -3px -2px 4px rgb(173, 193, 196);

        }
        .ashly{
            line-height: 1.5;
            font-size: larger;
        }
        .ash{
            color: #0867e4;
            font-size: 2em;
            font-family: Arial, Helvetica, sans-serif;
        }
        .ashy{
            font-size: 2em;
        }
        .section2{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: start;
        width: 100%;
        line-height: 1.7;
        font-size: larger;
        border-bottom: 2px solid whitesmoke;
        }
        .sect2{
            text-align: center;
            width: 100%;
            

        }
       .section3{
           display: grid;
           grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
            width: 100%;
            height: 30vh;
           column-gap: 10px;
           row-gap: 2px;
           justify-items: center;
           margin-top: 20px;
           
       }
       .city{
           height: 37px;
           width: 34vh;
           text-align: start;
       }
       .search{
           grid-column-start: 3;
           grid-column-end: 4;
           text-align: center;
        
        
       }
       .search-one{
        height: 37px;
        width: 34vh;
        font-size: 18px;
       }
    
       .overall-section3{
           display: flex;
           flex-direction: column;
           justify-content: center;
           align-items: center;
           /* border-top: 2px solid whitesmoke; */
           width: 100%;
           height: 100%;
           margin-top: 25px;
       }
       .overall-section3 h3{
color: #0867e4;
font-size: larger;
text-align: center;
       }
    

/* .heade-menu{
    background: black;
    box-shadow: 4px 4px 4px black;
    /* position: absolute;
    top: 20px; */
    
 
/* header */
/* .logo-img{
    width:150;
    border-radius: 30px 10px 30px 10px;
    z-index: 10;
    
} */
/* .header{
    display: flex;
    align-items: center;
    
    justify-content: center;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    } */
/* .logo{
    flex: 1;
    margin:1em 5em;
    
} */
/* .nav-menu{
    display: flex;
align-content: center;
justify-content center;
align-items: center
width: 100%;
} */
/* .info{
    line-height:1.5;
    flex: 1;
    font-size:25px;
    
    font-weight: 400;
    color: beige;
} */
/* menu-banner */
/* .menu-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
} */
/* .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 7;
    
    
    background-color: black;
border: 5px solid black;
width: 88%;} */
 

/* .menu{
    display: flex;
   
  
} */
/* .menu li{
    padding: 20px;
    font-size: 1.5em;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    

    
} */
/* .menu li a{
    color: #fff;
} */
/* .first-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 30%;
} */
/* .ban-i{
    width: 88%;
    position: absolute;
    z-index: 5;
    left: 80px;
    bottom: -12%;
} */
/* dropdown */
 /* .list{
    font-size:10px;
    display: none;
    transition: 3s;
    position: absolute;
    z-index: 10;
     */

/* .list li{
    padding:5px;
    background-color: black;
  color: #fff ;
  z-index: 10;

} */
  

/* .drop:hover .list {
    display: block;
    transform: translateY(0);
   
   
} */
/* .list li:hover{
    background-color:grey;
} */




/* .img{
   display: flex;
justify-content: center;
text-align: center;
align-items: center;
width: 50%;
} */

/* .ashly{
    font-size:18px;
    margin-left: 20px;

}
.ashy{ font-size: 28px;}
.ash{
    font-size: 28px;
    color: rgb(35, 145, 235);
}
p{
    line-height: 2.5;
}
.step-one{
    text-align: center;
}
.steps{
    grid-column-start: 1;
    grid-column-end: 3;
}

; */












    
    



    
    
    
